<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>WaxTools</title>

</head>
<body style="background-color: #fff;">

<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(81014557, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/81014557" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

<nav class="navbar navbar-dark justify-content-between" style="background-color: #7952b3;">
    <a class="navbar-brand" href="/" style="margin-left: 1%;">WaxTools</a>
</nav>


<script>
function GenomeCheck(e) {
  let t = e.length,
    n = e.length / 2,
    l = [e.slice(0, 2), e.slice(t - 2, t)],
    r = [e.slice(n - 2, n), e.slice(n, n + 2)];
   return [Math.abs(parseInt(l[0], 16) - parseInt(l[1], 16)), ((255 - Math.abs(parseInt(r[0], 16) - parseInt(r[1], 16))) / 255).toFixed(2)];
}








</script>


<div class="btn-group-vertical w-25" style="margin-top: 1%; margin-left: 1%;">
    <button id="genomecheck" type="button" class="btn btn-warning"
            onclick="window.location.replace('/kolobok/genomecheck');">GenomeCheck
    </button>
    <button id="simplemarket" type="button" class="btn btn-secondary"
            onclick="window.location.replace('/kolobok/simplemarketsort');">SimpleMarketSort
    </button>
</div>


<div class="d-flex justify-content-center" style="margin-top: 4.5%;">
    <div class="input-group mb-3 w-50">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">genome</span>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label=""
               aria-describedby="basic-addon1" id="genome_input">
    </div>
    <div class="mb-3" style="margin-left: 0.5%;">
        <button type="button" class="btn btn-warning"
                onclick="genome = document.getElementById('genome_input').value; document.getElementById('genome_result').innerHTML = 'Speed: ' + GenomeCheck(genome)[0] + '    |    Stealth: ' + GenomeCheck(genome)[1];">
            Check
        </button>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="input-group mb-3 w-50">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2">id</span>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label=""
               aria-describedby="basic-addon1" id="id_input">
    </div>
    <div class="mb-3" style="margin-left: 0.5%;">
        <button type="button" class="btn btn-warning"
                onclick="
                var xhr = new XMLHttpRequest();
                xhr.open('POST', 'https://wax.simplemarket.io/api/v1/item/'+ document.getElementById('id_input').value, true);
                xhr.send();

                xhr.onreadystatechange = function() { // Call a function when the state changes.
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    var mdata = response['mdata'];
                    mdata = mdata.split('https://img.kolobok.io/')[1];
                    mdata = mdata.split('.png')[0];
                    genome = mdata; document.getElementById('genome_result').innerHTML = 'Speed: ' + GenomeCheck(genome)[0] + '    |    Stealth: ' + GenomeCheck(genome)[1];
                }
            }
">
            Check
        </button>
    </div>
</div>


<div class="d-flex justify-content-center" style="margin-top: 1%;"><h4 id="genome_result"></h4></div>

<div class="fixed-bottom">
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: #c0c0c0; color: #FFF;">
            Telegram:
            <a href="https://t.me/lPTKl" style="color: #FFF;"> lPTKl</a>
            | WAX: conrg.wam
        </div>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>

</body>
</html>