<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>WaxTools</title>

</head>
<body style="background-color: #fff;">

<script>

const delay = ms => new Promise(res => setTimeout(res, ms));

function GenomeCheck(e) {
  let t = e.length,
    n = e.length / 2,
    l = [e.slice(0, 2), e.slice(t - 2, t)],
    r = [e.slice(n - 2, n), e.slice(n, n + 2)];
   return [Math.abs(parseInt(l[0], 16) - parseInt(l[1], 16)), ((255 - Math.abs(parseInt(r[0], 16) - parseInt(r[1], 16))) / 255).toFixed(2)];
}

async function update_sort(){
var SIMPLEMARKET_URL = 'https://wax.simplemarket.io/api/v2/market?limit=100&=&authors=ilovekolobok&asset.mdata.health.raw=100&sortOrder=1&isVerifiedOnly=true&skip=';
let arr = [];
for (let i = 0; i < 40; i++) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', SIMPLEMARKET_URL + String(100 * i), true);
    xhr.send();
    arr.push(xhr);
}

var position;
var stats;
var gen;
var kids;
var max_kids;
var max_gen;
var min_speed;
var min_stealth;
var response;
var table = document.getElementById('table');

await delay(1000);
for(let i = 0; i < 40; i++){
    table.innerHTML = '';
    for(let j = 0; j < 40; j++){
    try {
        response = JSON.parse(arr[j].responseText);
        response = response['items'];
        for(var k = 0; k < response.length; k++){
            position = response[k];
            stats =  GenomeCheck(position['idata']['genome']);
            gen = Number(position['idata']['gen']);
            kids =  Number(position['mdata']['kids']);

            max_kids = Number(document.getElementById('max_kids').value);
            max_gen = Number(document.getElementById('max_gen').value);
            min_speed = Number(document.getElementById('min_speed').value);
            min_stealth = Number(document.getElementById('min_stealth').value);
            var price = position['price'];

            if (Number(stats[0]) >= min_speed && Number(stats[1]) >= min_stealth && kids <= max_kids && gen <= max_gen){
                var tr = document.createElement("tr");
                var td0 = document.createElement("td");
                td0.innerHTML = String(price) + " WAX";
                var td1 = document.createElement("td");
                td1.innerHTML = String(gen);
                var td2 = document.createElement("td");
                td2.innerHTML = String(kids);
                var td3 = document.createElement("td");
                td3.innerHTML = String(stats[0]);
                var td4 = document.createElement("td");
                td4.innerHTML = String(stats[1]);
                var td5 = document.createElement("td");
                td5.innerHTML = '<a href="https://wax.simplemarket.io/products/asset/'+ String(position["assetId"]) + '">' + 'https://wax.simplemarket.io/products/asset/' + String(position["assetId"]) + '</a>';

                tr.appendChild(td0);
                tr.appendChild(td1);
                tr.appendChild(td2);
                tr.appendChild(td3);
                tr.appendChild(td4);
                tr.appendChild(td5);

                table.appendChild(tr);
            }
        }
     } catch (err) {console.log(err);}
    }
    await delay(200);
}
}














</script>

<nav class="navbar navbar-dark justify-content-between" style="background-color: #7952b3; width: 130%;">
    <a class="navbar-brand" href="/" style="margin-left: 1%;">WaxTools</a>
</nav>

<div class="btn-group-vertical w-25" style="margin-top: 1%; margin-left: 1%;">
    <button id="genomecheck" type="button" class="btn btn-secondary"
            onclick="window.location.replace('/kolobok/genomecheck');">GenomeCheck
    </button>
    <button id="simplemarket" type="button" class="btn btn-warning"
            onclick="window.location.replace('/kolobok/simplemarketsort');">SimpleMarketSort
    </button>
</div>

<div style="float: right; margin-right: 10%; margin-top: 1%;" class="w-50">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Price</th>
            <th scope="col">Gen</th>
            <th scope="col">Kids</th>
            <th scope="col">Speed</th>
            <th scope="col">Stealth</th>
            <th scope="col">url</th>
        </tr>
        </thead>
        <tbody id="table">
        </tbody>
    </table>
</div>


<div class="input-group mb-3 w-25" style="margin-left: 1%; margin-top: 3%">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">max_kids</span>
    </div>
    <input type="text" class="form-control" placeholder="" aria-label=""
           aria-describedby="basic-addon1" id="max_kids" value="12">
</div>

<div class="input-group mb-3 w-25" style="margin-left: 1%; margin-top: 2%">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon2">max_gen</span>
    </div>
    <input type="text" class="form-control" placeholder="" aria-label=""
           aria-describedby="basic-addon2" id="max_gen" value="35">
</div>

<div class="input-group mb-3 w-25" style="margin-left: 1%; margin-top: 2%">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">min_speed</span>
    </div>
    <input type="text" class="form-control" placeholder="" aria-label=""
           aria-describedby="basic-addon3" id="min_speed" value="242">
</div>

<div class="input-group mb-3 w-25" style="margin-left: 1%; margin-top: 2%">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon4">min_stealth</span>
    </div>
    <input type="text" class="form-control" placeholder="" aria-label=""
           aria-describedby="basic-addon4" id="min_stealth" value="0.99">
</div>

<button type="button" class="btn btn-warning w-25" onclick="update_sort();" style="margin-left: 1%; margin-top: 2%">
    Search
</button>


<div class="fixed-bottom">
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: #c0c0c0; color: #FFF;">
            Telegram:
            <a href="https://t.me/lPTKl" style="color: #FFF;"> lPTKl</a>
        </div>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>

</body>
</html>